{% if include.img_datasrc %}
<!-- If javascript is disabled. -->
<noscript
    ><img src="{{include.img_datasrc}}" alt="{{include.img_alt}}"
/></noscript>

<figure>
    <img
        src="{{include.img_src}}"
        data-src="{{include.img_datasrc}}"
        alt="{{include.img_alt}}"
        loading="lazy"
        class="mx-auto d-block"
        style="width: 100%; height: 100%; object-fit: cover; display: block"
    />
    {% if include.img_caption %}
    <figcaption class="text-right small font-italic text-muted mr-2 mt-1">
        {{include.img_caption}}
    </figcaption>
    {% endif %}
</figure>
{% endif %}
